In [1]:
import numpy as np
import pandas as pd

In [3]:
file = pd.read_csv('/home/lukasz/jupyter_notebook/dds_datasets/dds_ch2_nyt/nyt1.csv', sep=',')

In [20]:
file['age_group'] = pd.cut(file.Age, [-np.inf, 0, 18, 34, 44, 54, 64, np.inf])

In [21]:
file.age_group

0         (34.0, 44.0]
1          (64.0, inf]
2         (18.0, 34.0]
3         (44.0, 54.0]
4         (44.0, 54.0]
5         (44.0, 54.0]
6          (-inf, 0.0]
7         (44.0, 54.0]
8          (0.0, 18.0]
9         (44.0, 54.0]
10         (-inf, 0.0]
11        (18.0, 34.0]
12         (-inf, 0.0]
13        (54.0, 64.0]
14        (18.0, 34.0]
15         (-inf, 0.0]
16        (34.0, 44.0]
17        (18.0, 34.0]
18        (34.0, 44.0]
19         (-inf, 0.0]
20        (54.0, 64.0]
21        (54.0, 64.0]
22        (44.0, 54.0]
23        (18.0, 34.0]
24         (-inf, 0.0]
25        (18.0, 34.0]
26        (18.0, 34.0]
27        (44.0, 54.0]
28        (44.0, 54.0]
29        (18.0, 34.0]
              ...
458411    (54.0, 64.0]
458412     (64.0, inf]
458413     (-inf, 0.0]
458414    (18.0, 34.0]
458415    (34.0, 44.0]
458416    (18.0, 34.0]
458417    (34.0, 44.0]
458418    (54.0, 64.0]
458419    (44.0, 54.0]
458420    (44.0, 54.0]
458421    (44.0, 54.0]
458422    (44.0, 54.0]
458423    (18.0, 34.0]
458424    (18.0, 34.0]
458425    (34.0, 44.0]
458426    (44.0, 54.0]
458427    (34.0, 44.0]
458428    (34.0, 44.0]
458429    (44.0, 54.0]
458430     (-inf, 0.0]
458431    (18.0, 34.0]
458432    (18.0, 34.0]
458433    (18.0, 34.0]
458434    (54.0, 64.0]
458435    (44.0, 54.0]
458436     (-inf, 0.0]
458437     (-inf, 0.0]
458438     (64.0, inf]
458439     (-inf, 0.0]
458440     (-inf, 0.0]
Name: age_group, Length: 458441, dtype: category
Categories (7, interval[float64]): [(-inf, 0.0] < (0.0, 18.0] < (18.0, 34.0] < (34.0, 44.0] < (44.0, 54.0] < (54.0, 64.0] < (64.0, inf]]

In [22]:
file

        Age  Gender  Impressions  Clicks  Signed_In     age_group
0        36       0            3       0          1  (34.0, 44.0]
1        73       1            3       0          1   (64.0, inf]
2        30       0            3       0          1  (18.0, 34.0]
3        49       1            3       0          1  (44.0, 54.0]
4        47       1           11       0          1  (44.0, 54.0]
5        47       0           11       1          1  (44.0, 54.0]
6         0       0            7       1          0   (-inf, 0.0]
7        46       0            5       0          1  (44.0, 54.0]
8        16       0            3       0          1   (0.0, 18.0]
9        52       0            4       0          1  (44.0, 54.0]
10        0       0            8       1          0   (-inf, 0.0]
11       21       0            3       0          1  (18.0, 34.0]
12        0       0            4       0          0   (-inf, 0.0]
13       57       0            6       0          1  (54.0, 64.0]
14       31       0            5       0          1  (18.0, 34.0]
15        0       0            6       0          0   (-inf, 0.0]
16       40       1            3       0          1  (34.0, 44.0]
17       31       1            5       0          1  (18.0, 34.0]
18       38       0            4       0          1  (34.0, 44.0]
19        0       0            5       0          0   (-inf, 0.0]
20       59       1            4       0          1  (54.0, 64.0]
21       61       0            6       0          1  (54.0, 64.0]
22       48       0            7       0          1  (44.0, 54.0]
23       29       1            2       0          1  (18.0, 34.0]
24        0       0            4       0          0   (-inf, 0.0]
25       19       1            4       0          1  (18.0, 34.0]
26       19       0            3       0          1  (18.0, 34.0]
27       48       1            9       0          1  (44.0, 54.0]
28       48       1            4       0          1  (44.0, 54.0]
29       21       1            5       0          1  (18.0, 34.0]
...     ...     ...          ...     ...        ...           ...
458411   55       1            2       0          1  (54.0, 64.0]
458412   68       1            7       0          1   (64.0, inf]
458413    0       0            7       1          0   (-inf, 0.0]
458414   21       0            5       0          1  (18.0, 34.0]
458415   35       0            6       0          1  (34.0, 44.0]
458416   26       1            6       0          1  (18.0, 34.0]
458417   41       0           11       0          1  (34.0, 44.0]
458418   58       1            4       0          1  (54.0, 64.0]
458419   46       1            5       0          1  (44.0, 54.0]
458420   45       0           11       0          1  (44.0, 54.0]
458421   46       1            4       0          1  (44.0, 54.0]
458422   47       0            6       0          1  (44.0, 54.0]
458423   22       1            8       0          1  (18.0, 34.0]
458424   21       0           10       0          1  (18.0, 34.0]
458425   40       1            6       0          1  (34.0, 44.0]
458426   49       0            9       0          1  (44.0, 54.0]
458427   43       1            9       0          1  (34.0, 44.0]
458428   40       1            4       0          1  (34.0, 44.0]
458429   49       1           11       0          1  (44.0, 54.0]
458430    0       0            6       0          0   (-inf, 0.0]
458431   21       1            5       0          1  (18.0, 34.0]
458432   30       0            4       0          1  (18.0, 34.0]
458433   21       1            2       0          1  (18.0, 34.0]
458434   61       1            6       0          1  (54.0, 64.0]
458435   51       0            7       0          1  (44.0, 54.0]
458436    0       0            2       0          0   (-inf, 0.0]
458437    0       0            4       0          0   (-inf, 0.0]
458438   72       1            5       0          1   (64.0, inf]
458439    0       0            5       0          0   (-inf, 0.0]
458440    0       0            3       0          0   (-inf, 0.0]

[458441 rows x 6 columns]